{% extends 'rides/base.html' %}

{% block title %}Driver Profile{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="mb-0">Vehicle Information</h4>
        <a href="{% url 'driver:register' %}" class="btn btn-primary">Update Vehicle Info</a>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <p><strong>Vehicle Type:</strong> {{ vehicle.vehicle_type }}</p>
                <p><strong>License Plate:</strong> {{ vehicle.license_plate }}</p>
                <p><strong>Maximum Passengers:</strong> {{ vehicle.max_passengers }}</p>
                {% if vehicle.special_info %}
                    <p><strong>Special Info:</strong> {{ vehicle.special_info }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

